/***************************************
			NEW PAGE CONTENT
***************************************/
.page-template-template-treatment-page .page-Content{
	max-width:1197px;
}
.page-template-template-treatment-page .section-Titleheader{
	text-align: center;
}
.page-template-template-treatment-page .section-Titleheader h3{
	color:#000;
	font-size:3.2rem;
	line-height: inherit;
}
.page-template-template-treatment-page .section-Titleheader h3 em{
	font-weight:700;
	color:#62bd8e;
	font-size:4.5rem;
}
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block{
	box-sizing: border-box;
	background-color: #ebebeb;
	padding:70px 50px;
	margin:45px 0;
}
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block blockquote p{
	font-size:2.3rem;
	font-style:italic;
	color:#419c9e;
	line-height: inherit;
	text-align: left;
}
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block blockquote strong{
	font-size:1.5rem;
	font-style:normal;
	text-transform: uppercase;
	font-weight:700;
}
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block h4{
	font-size:2.3rem;
	font-weight:600;
	text-transform: uppercase;
	margin:30px 0;
}
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block p{
	font-size:1.7rem;
	text-align: justify;
}
.page-template-template-treatment-page .section-Twocolumns{
	margin-bottom:40px;
}
.page-template-template-treatment-page .section-Twocolumns h5{
	font-size:2.0rem;
	text-transform: uppercase;
	color:#419c9e;
	font-weight:700;
	margin-bottom:30px;
}
.page-template-template-treatment-page .section-Twocolumns .col-2{
	padding-left:7%;
}
.page-template-template-treatment-page .section-Twocolumns p{
	font-size:1.7rem;
}
.page-template-template-treatment-page .section-Whatwefound .wwf-block{
	box-sizing: border-box;
	border:5px solid #419c9e;
}
.page-template-template-treatment-page .section-Whatwefound .container{
	max-width:98.5%;
}
.page-template-template-treatment-page .section-Whatwefound .wwf-block .wwf-heading{
	color:#a3d8ce;
	font-size:2.5rem;
	font-weight:700;
	text-transform:uppercase;
	text-align: center;
	background-color: #419c9e;
	box-sizing: border-box;
	padding:10px 0;
}
.page-template-template-treatment-page .section-Whatwefound .wwf-block .wwf-text{
	box-sizing: border-box;
	padding:20px 175px 10px;
}
.page-template-template-treatment-page .section-Whatwefound .wwf-block .wwf-text p{
	font-size:1.7rem;
	line-height: 2;
}
.page-template-template-treatment-page .section-Funfacts{
	margin:10px 0;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block{
	box-sizing: border-box;
	background-color:#7e766b;
	padding:25px 25px 10px;
	margin:0 8px;
	color:#fff;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block .ff-col-1{
	flex: 0 0 30%;
    max-width: 30%;
	padding-right:0;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block .ff-col-2{
	flex: 0 0 64%;
    max-width: 64%;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block .ff-title{
	font-size:5.3rem;
	text-align: center;
	text-transform: uppercase;
	font-weight:300;
	position: relative;
  	top: 40%;
  	transform: translateY(-40%);
	line-height:1;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block .ff-text{
	line-height: 1.5;
}
.page-template-template-treatment-page .section-Monthlyresults{
	margin:0 3px;
}
.page-template-template-treatment-page .section-Monthlyresults .container{
	max-width:100%;
}
.page-template-template-treatment-page .section-Monthlyresults .result-block{
	border:5px solid #ebebeb;
	box-sizing: border-box;
	padding:10px;
	min-height:500px;
	margin-bottom:3%;
}
.page-template-template-treatment-page .section-Monthlyresults .result-block strong{
	color:#419c9e;
	text-transform: uppercase;
	margin-bottom:6%;
	display:block;
}
.page-template-template-treatment-page .section-Monthlyresults .result-block{
	line-height:1.25;
}
.page-template-template-treatment-page .section-Monthlyresults .r-blk{
	padding:0 5px !important;
}
.page-template-template-treatment-page .section-Diagram{
	margin:50px 20px;
}
.page-template-template-treatment-page .section-Diagram .diagram-text{
	padding-left:10%;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
.page-template-template-treatment-page .section-Diagram h4{
	font-size:2.5rem;
	font-weight:700;
	line-height: inherit;
}
.page-template-template-treatment-page .section-Diagram p{
	font-size:1.7rem;
	line-height: 1.75;
}
.page-template-template-treatment-page .section-Iconlist{
	margin-bottom:50px;
}
.page-template-template-treatment-page .section-Iconlist .row{
	margin-left:0;
	margin-right:0;
}
.page-template-template-treatment-page .section-Iconlist .icon-img{
	width:43px;
}
.page-template-template-treatment-page .section-Iconlist .icon-text{
	padding-left: 15px;
}
.page-template-template-treatment-page .section-Iconlist .icon-list-item{
	padding:10px 0;
}
.page-template-template-treatment-page .section-CallToActionBar{
	margin-bottom:0;
}
.page-template-template-treatment-page .gform_wrapper {
    max-width: 830px;
    margin: 0 auto;
}
.page-template-template-treatment-page .gform_footer {
    text-align: center;
    margin-top: 0;
}

/* Large display -- 1200px and up  /  70px columns  /  30px gutters */
@media only screen and (min-width: 1200px) {
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block .testimonial-img{
	max-width:30%;
}
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block .testimonial-text{
	max-width:70%;
	flex: 0 0 70%;
}
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block img{
	max-width:266px;
}
.page-template-template-treatment-page .section-Monthlyresults .result-block{
	min-height:400px;
}
}

/* Portrait tablets -- 768px and above  /  42px columns  /  20px gutters */
@media only screen and (max-width: 768px) {
.page-template-template-treatment-page .section-Twocolumns .col-2 {
    padding-left: 0;
}
.page-template-template-treatment-page .section-Whatwefound .wwf-block .wwf-text{
	padding:20px;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block .ff-col-1{
	flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
	padding-right: 15px;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block .ff-col-2{
	flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;	
}
.page-template-template-treatment-page .section-Diagram .diagram-text{
	padding-left:0;	
}
}

/* Phones to tablets -- 767px and below  /  Fluid columns  /  No fixed widths */
@media only screen and (max-width: 767px) {
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block .testimonial-img{
	margin-bottom:3%;
	text-align: center;
}
.page-template-template-treatment-page .section-Twocolumns .col-2{
	padding-left:15px;
	margin-top:3%;
}
.page-template-template-treatment-page .section-Monthlyresults .result-block{
	min-height:initial;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block .ff-col-1 {
    flex: 0 0 100%;
    max-width: 100%;
}
.page-template-template-treatment-page .section-Funfacts .funfact-block .ff-col-2{
	flex: 0 0 100%;
    max-width: 100%;
	margin-top:3%;
}
}

/* Phones -- 480px and below  /  Fluid columns  /  No fixed widths */
@media only screen and (max-width: 480px) {
.page-template-template-treatment-page  .section-Testimonialblock .textimonial-block{
	padding:25px;
}
}
