/****************************
Variables (colors etc.)
****************************/

/* Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-alabaster: #F7f7f7;
$color-pampas: #ece7e1;
$color-sinbad: #a3d8ce;
$color-silver-tree: #62bd8e;
$color-pelorous: #3eb7c0;
$color-sandstone: #7e766b;
$color-nevada: #65767a;
$color-abbey: #53585b;
$color-cape-cod: #3d4547;

/* Type */
$font-size-base: 1.6rem !default;
$spacing-base: 0.01em;
$spacing-mid: 0.1em;
$spacing-wide: 0.2em;

$lineheight-base: 1.4;
$lineheight-wide: 1.5;

/* General */
$padding-section: 9rem;
$index-nav: 5;
$index-search: 10;
